.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-16) var(--space-24);
  border-bottom: 1px solid var(--color-border);
  background: var(--color-surface);

  &__menu-btn {
    display: inline-flex;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__title {
    font-size: var(--fs-xl);
    margin: 0;
  }
}
